---
page_title: "{{.Name}} {{.Type}}"
subcategory: "DNS Apps"
description: |-
  {{.Description | plainmarkdown}}
---

# {{.Name}} ({{.Type}})

{{.Description | plainmarkdown}}

## Example Usage

{{ tffile "examples/resources/technitium_dns_app/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

DNS apps can be imported using their name:

```
terraform import technitium_dns_app.example app_name
```
