---
page_title: "{{.Name}} {{.Type}}"
subcategory: "Zone Management"
description: |-
  {{.Description | plainmarkdown}}
---

# {{.Name}} ({{.Type}})

{{.Description | plainmarkdown}}

## Example Usage

{{ tffile "examples/resources/technitium_zone/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Zones can be imported using their zone name:

```
terraform import technitium_zone.example example.com
```
