---
page_title: "{{.Name}} {{.Type}}"
subcategory: "DNS Records"
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{ .Description }}

## Example Usage

{{ tffile "examples/data-sources/technitium_dns_records/data-source.tf" }}

## Argument Reference

The following arguments are supported:

{{ range .Arguments }}
* `{{ .Name }}` - {{ if .Required }}(Required){{ else }}(Optional){{ end }} {{ .Description }}
{{- end }}

## Attribute Reference

In addition to all arguments above, the following attributes are exported:

{{ range .Attributes }}
* `{{ .Name }}` - {{ .Description }}
{{- end }}