---
page_title: "{{.Name}} {{.Type}}"
subcategory: "Zone Management"
description: |-
  {{.Description | plainmarkdown}}
---

# {{.Name}} ({{.Type}})

{{.Description | plainmarkdown}}

## Example Usage

{{ tffile "examples/data-sources/technitium_zone/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
